/*******************************************************************************
 * @file $filename
 *
 * author               : dante999
 *
 * see the source-file for further documentation
 * 
*******************************************************************************/

#ifndef $filename_H_
#define $filename_H_



#endif /* $filename_H_ */
